.music_area {
  position: fixed;
  bottom: 5px;
  //right: 55px;
  display: flex;
  width: 100%;
  padding: 0 10px;

  .play_music_night {
    display: none;
    font-size: 12px;
    color: $white;
    position: fixed;
    right: 40px;
  }

  .pause_music_night {
    color: $white;
    font-size: 12px;
    position: fixed;
    right: 40px;
  }

  .reload{
    color: $white;
    font-size: 12px;
    margin-right: auto;
    cursor: pointer;
    i{
      margin-left: 2px;
      font-size: 17px;
      vertical-align: middle;
    }
  }
}


.volume {
  display: flex;
  align-items: center;
  --line: #fff;
  --line-width: 6px;
  --duration: .5s;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  input {
    display: none;

    & + svg {
      display: block;
      fill: none;
      stroke: var(--line);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: var(--line-width);
      width: 25px;
      height: 25px;

      path {
        animation: var(--name) var(--duration) ease forwards;

        &:nth-child(2) {
          stroke-dashoffset: 1px;
        }

        &:nth-child(3) {
          stroke-dashoffset: 1px;
        }
      }
    }

    &:checked {
      & + svg {
        path {
          &:nth-child(1) {
            --name: shape;
          }

          &:nth-child(2) {
            --name: small;
          }

          &:nth-child(3) {
            --name: large;
          }
        }
      }
    }

    &:not(:checked) {
      & + svg {
        path {
          &:nth-child(1) {
            --name: shape-r;
          }

          &:nth-child(2) {
            --name: small-r;
          }

          &:nth-child(3) {
            --name: large-r;
          }
        }
      }
    }
  }
}

@keyframes small {
  0%,
  30% {
    stroke-dasharray: 0 0 30px 64px;
  }
  40% {
    stroke-dashoffset: 16px;
  }
  80%,
  100% {
    stroke-dashoffset: 1px;
  }
  70% {
    stroke-dasharray: 0 43px 30px 64px;
  }
  100% {
    stroke-dasharray: 0 39px 30px 64px;
  }
}

@keyframes small-r {
  0% {
    stroke-dasharray: 0 39px 30px 64px;
  }
  0%,
  40% {
    stroke-dashoffset: 1px;
  }
  70% {
    stroke-dashoffset: 16px;
  }
  70%,
  100% {
    stroke-dasharray: 0 0 30px 64px;
  }
}

@keyframes large {
  0%,
  30% {
    stroke-dasharray: 0 0 50px 84px;
  }
  40% {
    stroke-dashoffset: 16px;
  }
  80%,
  100% {
    stroke-dashoffset: 1px;
  }
  70% {
    stroke-dasharray: 0 82px 32px 84px;
  }
  100% {
    stroke-dasharray: 0 78px 32px 84px;
  }
}

@keyframes large-r {
  0% {
    stroke-dasharray: 0 78px 32px 84px;
  }
  0%,
  40% {
    stroke-dashoffset: 1px;
  }
  70% {
    stroke-dashoffset: 16px;
  }
  70%,
  100% {
    stroke-dasharray: 0 0 50px 84px;
  }
}

@keyframes shape {
  0% {
    stroke-dasharray: 60px 0 184px;
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dasharray: 63px 51px 184px;
    stroke-dashoffset: 21px;
  }
  100% {
    stroke-dasharray: 59px 47px 184px;
    stroke-dashoffset: 17px;
  }
}

@keyframes shape-r {
  0% {
    stroke-dasharray: 59px 47px 184px;
    stroke-dashoffset: 17px;
  }
  100% {
    stroke-dasharray: 60px 0 184px;
    stroke-dashoffset: 0;
  }
}
