.account_area {
  padding: 50px 0;
  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }

  .account_form_title {
    color: $white;
    font-size: 20px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 25px;

    &:after {
      content: '';
      position: absolute;
      background-color: $secondary;
      height: 1px;
      width: 100%;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .account_form_content {
    .form-group {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        color: $secondary;
        font-size: 14px;
        padding-right: 0;
        position: relative;

        &:before {
          content: '*';
          color: red;
          position: absolute;
          top: -5px;
          right: -12px;
          font-size: 18px;
          font-weight: 900;
        }
      }

      input {
        background-color: #1a1a1a;
        border-radius: 0;
        border: 1px solid $secondary;
        width: 100%;
        color: $secondary;
        padding: 10px;

        &:focus {
          outline: 0;
          border-radius: 0;
        }
      }

    }

    &_btn {
      text-align: left;

      a {
        font-size: 13px;
        color: #fff;
        font-weight: 500;
        display: inline-block;
        padding: 10px 30px;
        background: #ed9b18;
        border-radius: 5px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        margin-top: 30px;

        &:hover {
          color: #000;
        }

      }
    }
  }

  table {
    color: $white;
    .table-bordered{
      border: 1px solid $secondary !important;
    }

    th, td {
      text-align: center;
      border: 1px solid $secondary !important;

    }

    td {
      color: $secondary;

    }
  }

  select {
    background-color: #1a1a1a;
    border-radius: 0;
    border: 1px solid $secondary;
    width: 40px;
    color: $secondary;
    text-align: center;

    &:focus {
      outline: 0;
      border-radius: 0;
    }
  }
}
